* {
    margin: 0;
    padding: 0;
    background-color: mediumseagreen;
    box-sizing: border-box;
}

.mensagem {
    color: darkgreen;
    text-align: center;
    display: flex;
    list-style:none;
    top: 5%;
    margin-left: 5%;
}


    

