*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
    background-color: darkcyan;
}

.logo {
    color: black;
    font-size: 60px;
    text-transform:uppercase; 
    justify-content:space-around;
    display: flex;
    text-decoration: none; 
    text-shadow: 2px 2px 9px cyan;
    margin-top:  5%;
}

.mensagem{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: midnightblue;
    text-align: center;
}